@import url(normalize.css);

@font-face {
    font-family: "five-night-at-freddys";
    src: url('font/five-nights-at-freddys.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --text-color: #000000;
    --text-color-2: #fff;
    --highlight-color: #ff0000;
    --nav-background-color: #7e3b00;
}

* {
    font-family: "five-night-at-freddys";
    font-size: 30px;
}

html {
    height: 100%;
}

body {
    color: var(--text-color-2);
    background-color: rgb(44, 44, 44);
    height: 100%;
    box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.hidden {
    display: none;
}

/* header */

header {
    height: 70px;
    width: 100vw;
    margin-bottom: 15px;

    background-color: var(--nav-background-color);

    box-shadow: inset rgba(0, 0, 0, 1) 0px 10px 40px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 500px;

    filter: brightness(70%);

    margin: 0px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
}

nav img {
    width: 100px;
}

a {
    color: white;
    text-decoration: none;
}

/* cam select */

.ds {
    position: fixed;
    bottom: 10px;
    right: 10px;

    height: 90%;
    width: 23%;
}

.animatronic-img {
    display: flex;
    justify-content: center;

    height: 50%;
}

.animatronic-img img {
    width: auto;
}

.cam-select-container {
    background-color: var(--text-color);
    background-image: url(../image/fnaf1/camera-fnaf1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: white solid 3px;
    border-radius: 5px;
    height: 48%;
    width: 100%;
}

.cam-select-container button {
    color: white;
    background-color: rgb(53, 53, 53);

    height: 12%;
    width: 20%;

    min-width: 50px;

    border: white solid 2px;

    cursor: pointer;

    font-size: 100%;
}

.cam-select-container button:hover {
    background-color: #8ba905;
}

#Freddy {
    position: relative;
    top: 3%;
    left: 25%;
}

#Bonnie {
    position: relative;
    top: 15%;
    right: 20%;
}

#Chica {
    position: relative;
    top: 60%;
    left: 28%;
}

#Foxy {
    position: relative;
    top: 35%;
    right: 55%;
}

#Gfreddy {
    position: relative;
    width: 25%;
    top: 70%;
    left: 10%;
}

button.active {
    background-color: #8ba905;
}

.camera {
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */

main {
    margin-right: 25%;
    margin-left: 2%;
    filter: brightness(70%);
    color: var(--text-color-2);
}

.animatronic-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animatronic {
    width: 60%;
}

.background {
    background-image: url(../image/freddy-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.freddy-background {
    background-image: url(../image/freddy-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.bonnie-background {
    background-image: url(../image/bonnie-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.chica-background {
    background-image: url(../image/chica-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.foxy-background {
    background-image: url(../image/foxy-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.gf-background {
    background-image: url(../image/golden-freddy-cam.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.its-me {
    position: absolute;
    cursor: none;
    opacity: 0.5;
}

.description {
    color: var(--text-color-2);
}

h1 {
    height: 8vh;

    margin: 0;

    font-size: 3em;
}

p {
    margin: 0;
}

.nights {
    margin-bottom: 35px;

    font-size: 1.5em;
}

.description {
    color: var(--text-color-2);
    overflow: hidden;
    white-space: pre-wrap; /* Permet au texte de retourner à la ligne */
    border-right: .15em solid white; /* Effet de curseur de machine à écrire */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0; /* Commence sans largeur (invisible) */
    }
    to {
        width: 100%; /* Révéler complètement le texte */
    }
}

/* Effet de curseur de machine à écrire */
@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Couleur de curseur clignotant */
    }
    50% {
        border-color: transparent; /* Couleur de curseur clignotant */
    }
}
